@mixin sormas-line-listing-view {

    .height-auto {
        height: auto !important;
    }
    .width-auto {
        width: auto !important;
    }
    div.v-slot-stripes>div > * {
        margin: 5px;
        padding: 5px;
    }
    div.v-slot-stripes>div:nth-of-type(even) {
        background: #EDF2FD;
    }
}